<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>Gestión Estudiantes</display-name>

  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:mysql://localhost:3306/dbalumnos?useSSL=false&amp;serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>db.pass</param-name>
    <param-value></param-value>
  </context-param>

  <listener>
    <listener-class>net.elpuig.daw2.servlets.EscuchadorSesiones</listener-class>
  </listener>
  <listener>
    <listener-class>net.elpuig.daw2.servlets.WebSessionListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>